* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nanum Myeongjo', serif;
} 

 main {
    margin: 32px 0;
}

main h2 {
    margin: 32px 0;
    font-weight: 300;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #022008;
}

section {
    margin-top: 64px;
}
