#values .values-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
#values .values-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    text-align: center;

}#img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 200px;
    max-width:900px;
    max-height:1200px;
   
}
#values .values-content p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;  

}
#values .value-detail {
    padding: 32px;
}
#values .value-detail .value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}